.navbar{
    height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom:solid black 2px;
   
    padding: 0; 
    .navbar-brand {
        font-size: 1.7rem;  
        margin:5px;
        
    }    
}










